@import "./../abstracts/variables";
@import "./../abstracts/mixins";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-size: 10px;
  direction: rtl;
  user-select: none;
  font-family: 'Shabnam';
}

html {
    scroll-behavior: smooth;
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  
    @include respond(tab-land) {
      // width < 1200?
      font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }
  
    @include respond(tab-port) {
      // width < 900?
      font-size: 55%; //1 rem = 8px, 8/16 = 50%
    }
  
    @include respond(big-desktop) {
      font-size: 75%; //1rem = 12, 12/16
    }
}
body {
    box-sizing: border-box;

    @include respond(tab-port) {
      padding: 0;
    }
}