
<div class="content-wrapper">
    <div class="app-container">
        <div class="app-container__header">
            <div class="title">
                تراکنش مشتری
            </div>
            <div class="icon">
                <img src="./../../../assets/svg/up-arrow.svg" alt="">
            </div>
        </div>
        <hr class="m-0">
        <div class="app-container__body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-4">
                        <!-- فیلتر پایانه ها -->
                        <ng-select (change)="changeFilter()" class="mt-2" ngModel [(ngModel)]="filterModel.termilanId"
                            name="dropOffTime" [items]="Terminals" bindLabel="name" bindValue="id">
                        </ng-select>
                        <div class="placeholder">
                            پایانه ها
                        </div>
                    </div>
                    <div class="col-4">
                        <!-- فیلتر سال -->
                        <ng-select (change)="changeFilter()" class="mt-2" ngModel [(ngModel)]="filterModel.yearId"
                            name="years" [items]="Years" bindLabel="name" bindValue="id">
                        </ng-select>
                        <div class="placeholder">
                            سال
                        </div>
                    </div>
                    <div class="col-4">
                        <!-- فیلتر ماه -->
                        <ng-select (change)="changeFilter()" class="mt-2" ngModel [(ngModel)]="filterModel.monthId"
                            name="month" [items]="Month" bindLabel="name" bindValue="id">
                        </ng-select>
                        <div class="placeholder">
                            ماه
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- چارت -->

        <router-outlet></router-outlet>
        
        <!-- چارت -->
    </div>
</div>

