@import './../../../assets/scss/abstracts/variables';

.content-wrapper {
    background-color: $color-primary-background;
    padding: 1.5rem;
}
.app-container {
    background-color: $color-pure-white;
    border-radius: .8rem;
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
    }
    &__body {
        padding: 7rem 2rem;
    }
}
.title {
    font-size: 1.5rem;
    font-weight: bold;
}
.icon {
   & > img {
        width: 1.5rem;
    }
}

.placeholder {
    position: absolute;
    top: 31%;
    right: 8%;
    font-size: 1.4rem;
    font-weight: bold;
    color: $color-primary;
}