/* You can add global styles to this file, and also import other style files */

@import "./assets/scss/abstracts/variables";

@import "./assets/scss/abstracts/mixins";

@import "./assets/scss/base/base";

@import "./assets/scss/components/ngSelect.scss";

@import "~@ng-select/ng-select/themes/default.theme.css";

@font-face {
    src: url(./assets/font/Shabnam-FD.ttf);
    font-family: Shabnam;
}

@font-face {
    src: url(./assets/font/Shabnam-Bold-FD.ttf);
    font-family: ShabnamBold;
}